@use '../custom' as *;
@use '../components/mixins' as *;

.banner-section{
    @include background-color-primary;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
}

.banner-section.night-mode{
    background-color: black;
    color: $secondary;
}
