@use'../custom' as *;
@use '../components/mixins' as *;

.menu{
    @include background-color-primary;
        li{
            padding: 0 0.7rem;
        
            a{
                color: $white !important;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    
}