.oque-extend{
    padding: 5rem 0;
    .description{
        padding-bottom: 2rem;
        margin: 0 15rem;
    }
    .row{
        text-align: start;
        h1{
            margin:  0 10rem;
            font-size: 5rem;
        }
        p{
            text-align: start;
            margin: 0 10rem;
        }
    }
}
@media (max-width:768px){
    .oque-extend{
        .description{
            margin: 0;
        }
        .row{
            text-align: start;
            h1{
                margin: 0 auto;
                
                font-size: 5rem;
            }
            p{
                margin: 0 auto;
                text-align: start;
                
            }
        }
    }
}

