.oque-sms{
    padding-top: 5rem;
    .heading-line{
        display: grid;
        justify-content: start;
        padding-bottom: 3rem;
    }
    display: grid;
    justify-content: center;
    align-items: center;
    img{
        width: 30rem;
    }
    p{
        word-spacing: 5px;
    }
    
}