@use '../../custom' as *;

.sms-intro{
    background-color: $primary;
    padding: 10rem 0;
    text-align: center;
    color: $secondary;
    
    .heading-line::before{
        background-color: $secondary;
        width: 23.5rem;
    }
}

@media (max-width:768px) {
    .sms-intro{
        .heading-line::before{
            width: 10rem;
        }
    }
}