@use '../../custom' as *;

.gvc-intro{
    background-color: $primary;
    padding: 10rem 0;
    text-align: center;
    color: $secondary;
    
    .heading-line::before{
        background-color: $secondary;
        width: 27rem;
    }
}

@media (max-width:768px) {
    .gvc-intro{
        text-align: start;
        .heading-line::before{
            width: 8rem;
        }
    }
    
}