@use '../../custom' as *;

.problema{
    padding: 5rem 0;
    .heading-problema{
        .heading-line{
            display: grid;
            justify-content: start;
        }
        .heading-line::before{
            width: 27rem;
        }
        padding-bottom: 3rem;
    }
    li{
        padding-bottom: 1rem ;
        font-size: 1.2rem;
    }
    img{
        display: block;
        margin: 3rem auto;
        height: 25rem;
    }
}

@media(max-width:768px){
    .problema{
        .heading-problema{
            .heading-line{
                display: grid;
                justify-content: start;
            }
            .heading-line::before{
                width: 19rem;
            }
            padding-bottom: 3rem;
        }
        img{
            display: flex;
            width: 12.5rem;
            height: 12.5rem;
        }
    }
}