@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/typography' as *;



.proposta{
    background-color: $white;
    /* padding-bottom: 4rem; */
    color: $primary;

    .exemplos{
        
        &--items{
            margin-bottom: 0.5rem;
            img{
                border: 1px solid #baddf9;
                width: 32rem;
            }
        }
    }

}