@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/typography' as *;



.quemsomos{
    padding-top: 7rem;
    background-color: $white;
    
    
    
    .heading-line{
        display: grid;
        justify-content: start;
        
    }
    .heading-line::before{
        width: 20rem;
    }

    .display-4--intro{
        margin-bottom: 1rem;
    }

}