@use '../../custom' as *;

.funciona{
    padding: 3rem 0;
    .heading-line{
        display: grid;
        justify-content: start;
    }
    .heading-line::before{
        width: 20.4rem;
    }
    .text-description-top{
        text-align: center;
        padding: 0 5rem;
    }
    .funciona-image{
        margin-left: 5rem;
    }
    .text-description-bottom{

        text-align: start;
        padding:1rem 4rem ;
    }

}