@use '../../custom' as *;

.funciona{
    padding: 3rem 0;
    .heading-line{
        display: grid;
        justify-content: start;
    }
    .heading-line::before{
        width: 20.4rem;
    }
    .text-description-top{
        text-align: center;
        padding: 0 0;
    }
    .funciona-image{

        img{
            width: 100%;
        }
    }
    .text-description-bottom{

        text-align: start;
        padding:1rem 0;
    }

}
@media (max-width:768px){
    .funciona{
        font-size: 0.5rem;

        .heading-line::before{
            width: 5rem;
        }
        .funciona-image{
            margin-left:0 ;
            
            img{
                width: 45rem;

            }
        }
        
    }
}