@use '../../custom' as *;

.maisquem{
    padding: 5rem 0;
    .heading-maisquem{
        padding: 5rem 0;
        .heading-line{
            display: grid;
            justify-content: start;
        }
        .heading-line::before{
            width: 29.5rem;
        }
    }
    img{
        display: block;
        margin: 0 auto;
        border: 0 solid black;
        border-radius: 5px;
    }
}

@media (max-width:768px) {
    .maisquem{
        .heading-maisquem{
            .heading-line::before{
                width: 20rem;
            }
        }
    }
}