@use '../../custom' as *;

.mascara{
    padding: 2rem 0;
    .heading-description-mascara{
        display: grid;
        justify-content: start;

        .heading-line{
            display: block;
            margin: 0 auto;
        }
        .heading-line::before{
            width: 22.5rem;
        }
    }
    .mascara-description{
        h3{
            padding-bottom: 3rem;
        }
        li{
            font-size: 1.3rem;
            font-weight: 200;
            padding-bottom: 1rem ;
        }
    }

    .mascara-image{
        display: grid;
        justify-content: center;
        img{

            height: 28rem;
        }
    }
    
}