@use '../custom' as *;

.registro-form{
    height: 100vh;
    .col-form{
        form{
            background-color: $gray-200;
            border-radius: 5px;
        }
        .form-control.sucesso{
            border: 2px green solid;
        }
        .form-control.erro{
            border: 2px red solid;
        }
    }


}

