@use '../../custom' as *;

.funciona{
    .heading-funciona{

        .heading-line{
            display: grid;
            justify-content: start;
        }
    
        .heading-line::before{
            width: 22rem;
        }
    }
    &--items{
        img{
            display: block;
            margin: 0 auto;
            width: 10rem;
            height: 10rem;
            
        }
        i{
            padding: 1rem 0;
        }
        p{
            padding-top: 2rem;
        }
    }
}

