.quemusa-comps{
    padding: 5rem 0;
    .quemusa-content{
        display: grid;
        .quemusa-images{
            width: 3rem;
        }
        p{
            padding: 0.8 0;
        }
        img{
            width: 3rem;
            padding-bottom: 0.8rem;
        }
    }
}